*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url('img/bck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




header{
    top: 0;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    
}
.logo{
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
@keyframes slideRight {
    0%{
        transform: translateX(0px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.navbar a{
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: 1s;
    color: aliceblue;
    
}
.navbar a:hover{
    color: aqua;
}





.home{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    height: 500px;
    color: white;
}
.home-content{
    width: 60%;
    height: 100%;

    /* border: 2px solid gold;
    border-radius: 100%;
    box-shadow: 0 0 60px aqua; */

    font-size: x-large;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}
.social_links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    text-decoration: none;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    margin-left: 5px;
    margin-top: 20px;
}
.social_links a:hover{
    background: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;
}
.btn-box{
    margin-top: 30px;
    font-size: large;
    background: aqua;
    border: 2px solid aqua;
    color: black;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.btn-box:hover{
    background: transparent;
    color: aliceblue;
    box-shadow: 0 0 20px aqua;
}
#text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid aqua;
    color: gold;
  }
  


.home-img{
    width: 40%;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 90%;
    height: 90%;
}




.about{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    height: 500px;
    color: white;
}

.about-img{
    width: 40%;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 90%;
    height: 80%;
    background: transparent;
}

.about-content{
    width: 60%;
    height: 100%;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



.skill{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-card{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    margin: 20px;
    border: 2px solid aqua;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px aqua;
    background-image: url('img/skill_bck.jpg');
}
.skill-card:hover{
    border: 3px solid aqua;
    box-shadow: 0 0 40px aqua;
}


.skill-img{
    /* border: 2px solid gold; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-content{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.skill-more{
    text-align: center;
    margin-top: 30px;
}
.skill-more a{
    text-decoration: none;
    background: aqua;
    border: 2px solid aqua;
    color: black;
    padding: 10px;
    border-radius: 20px;
}
.skill-more a:hover{
    background: transparent;
    color: aqua;
    box-shadow: 0 0 30px aqua;
}


footer {
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-top: 2px solid aqua;
    text-align: center;
    padding: 20px;
    bottom: 0;
    margin: 50px -10px -10px -10px;
  }